* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono, feather;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
  /*background: #001930;*/
  background: rgba(0, 0, 0, 0.1);
  color: white;
}

#workspaces {
	background-color: #4c566a;
	margin: 5px;
	margin-left: 2px;
	border-radius: 5px;
}

#workspaces button {
    padding: 0 10px;
    color: #eceff4;
}

#workspaces button.focused {
    color: #2e3440;
    background-color: #88c0d0;
    border-radius: 5px;
}

#workspaces button:hover {
	background-color: #5e81ac;
	border-radius: 5px;
}

#custom-updates, custom-date, #clock, #battery, #pulseaudio, #network ,#memory, #cpu, #disk {
	/*background-color: #4c566a;*/
	padding: 0px 10px;
	margin: 5px 0px;
}

#tray {
    margin: 5px; 
    border-radius: 7px;
    padding: 0px 10px; 
    background-color: #4c566a;
}

#custom-date {
	color: #8fbcbb;
}

#custom-power {
	color: #2e3440;
	background-color: #bf616a;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 0px 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.charging {
    color: #a3be8c;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
